.header {
    background-color: #0069f5;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.dropdown-button, .dropdown-button-2 {
    background-color: rgba(182, 182, 182, 0.386);
    min-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.dropdown:hover .dropdown-button {
    background-color: #0069f5;
}

.dropdown-button-2:hover {
    background-color: #0681ff;
    color:white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content-2 {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-button-2:hover .dropdown-content-2 {
    display: block;
}

.dropdown-content-2 {
    min-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    left: 300px;
    top: -15px;
    color: black;
}

.left {
    left: -300px;
}

.items {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(182, 182, 182, 0.229);
}

.items:hover {
    background-color: #0681ff;
}
